#tst{
    background-color:red;
    text-align: center;
    height:200px;
    margin-bottom:0px;
}
.wesh{
    background-color:blue;
    z-index: 1584848484;
    height: 100px;
    margin-right:10%;
    margin-left:10%;
    margin-top:50px;
 
}
.ui{

}
.oe{
    background-color:green;
}
.rekt{
    background-color:yellow;
}
.yolo{
    background-color:brown;
}