/******************général******************/

@font-face {
	font-family: 'Areno-Rough';
	src: url('jiminycricket/Areno/Areno-Rough.otf');
}

body {
	background-image: url('backgroundt.png');
	background-size: cover;
	margin: 0;
	padding:0; 
}

/******************header******************/

header h3 {
	font-family: 'Areno-Rough';
	color: #AD4A2F;
	text-align: center;
	align-self: center;
}

header {
}

header .grid-3 {
	background-color: #EED178;
	margin-top: 25px;
	border-color: #AD4A2F;
	border-style: solid;
	padding-top: 61px;
	padding-bottom: 59px;

}
.menuburger {
	display: none;
	overflow: hidden;
}
/******************première partie - trois exemples ******************/

.troisex {
	margin-top: 50px;
	background-color: #EED178;
	border-color: #AD4A2F;
	border-style: solid;
	grid-gap: 30px;
	padding: 30px;
}
.troisex p {
	font-family: 'Arial';
	color: #AD4A2F;
	font-size: 14px;
	padding: 10px;
	font-weight: 501;
	font-stretch: ultra-expanded;

}
/*.troisex .has-gutter {
	grid-gap: 4rem;
}*/
.troisex > div {
	margin: 20px;
	border: solid;
	border-width: 1.5px;
	border-color: #AD4A2F;
	padding: 5px;
}
.pix {
	max-height: 200px;

	padding: 10px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.vachevskrik {
	display: none;
	overflow: hidden;
}

/**************barres et magasins**********/
.conteneurbarresetmagasin {
 	display: grid;
 	grid-template: 1fr / 1fr 1fr 1fr ;
 	align-content: center;
	background-color: #EED178;
	border-color: #AD4A2F;
	border-style: solid;
}
#barresetmagasin {
	margin-top: 50px;
}
.imagebarres {
	padding-left: 15px;
	grid-area: 1 / 1 / 1 / span 2;
}
.magasin {
	border: solid;
	border-width: 1.5px;
	border-color: #AD4A2F;
	justify-self: center;
	align-self: center;
	grid-area: 1 / 3 / 1 / 4;
	font-family: 'Arial';
	color: #AD4A2F;
	padding-top: 30px;
}
.magasin * {
	padding: 0 30px 25px 25px;
}

/************** form**********/
#mail, #name, #email, textarea, button {
	background-color: #EED178;
	border-color: #AD4A2F;
	border-style: solid;
	border-width: 2px
}


.labelform {
	text-align: left;
	font-family: 'Areno-Rough';
	color: #AD4A2F;
	margin-left: 20px;
}
form {
	font-family: 'Areno-Rough';
	color: #AD4A2F;
}



/************** media q**********/
@media all and (max-width: 750px) {
 .notreaventure {
 	display: none;
 }
 
.troisex img {
	max-height: 150px;
	justify-self: center;
	align-self: center;
}
.troisex {
	grid-template-columns: repeat(1, 1fr) !important;
}
.logo {
	align-self: center;
}
.header {
grid-template-columns: repeat(3, 1fr) !important;
padding-top: 15px !important;
padding-bottom: 15px !important;
}
/**************barres et magasins**********/
.vachevskrik {
	display: block;
	max-width: 300px;
	margin-right: auto;
margin-left: auto;
}
.vachevskrikgrd {
	display: none;
	overflow: hidden;
}

.conteneurbarresetmagasin {
 	display: grid;
 	grid-template: 2fr 1fr 1fr / 1fr 1fr;
 	/*max-width: 350px;*/
}
#barresetmagasin {
	margin-top: 20px;
}
.imagebarres {
	padding-left: 15px;
	grid-area: 1 / 1 / 1 / span 2;
}
.magasin {
	grid-area: 2 / 1 / 4 / 4;
	grid-column-gap: 20px;
	grid-row-gap: 10px;
	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr ;
	border: none;
}

.magasin p {
	padding: 5px 25px 5px 25px;
	border: solid;
	font-family: 'Areno-Rough';
	color: #AD4A2F;
	justify-self: center;
	align-self: center;
	width: 200px;
	/*height: 150px;*/
	font-size: 27px;
}

.mag {
	grid-area: 1 / 1/ 1/ 1;
}
.farine {
	grid-area: 2 / 1/ 2/ 1;
}
.actu {
	grid-area: 1 / 2/ 1/ 2;
	padding: 25px 25px 25px 25px;
}
.futur {
	grid-area: 2 / 2/  3/ 3;
}

.menuburger  {
	display: block;
	width: 109px;
}
	.header {
	padding-top: 10px;
	padding-bottom: 10px;
}
}


@media all and (max-width: 475px) {
.header {
	display: grid !important;
grid-template-columns: repeat(3, 1fr) !important;
padding-top: 10px;
padding-bottom: 10px;
}
.vachevskrik {
	display: block;
	max-width: 300px;
	margin-right: auto;
margin-left: auto;
}
.vachevskrikgrd {
	display: none;
	overflow: hidden;
	}
.magasin p {
	max-width: 160px;
}
}