/******************général******************/

@font-face {
	font-family: 'Areno-Rough';
	src: url('jiminycricket/Areno/Areno-Rough.otf');
}

body {
	background-image: url('backgroundt.png');
	background-size: cover;
	margin: 0;
	padding:0; 
}

/******************header******************/

header h3 {
	font-family: 'Areno-Rough';
	color: #AD4A2F;
	text-align: center;
	align-self: center;
}

header {
}

header .grid-3 {
	background-color: #EED178;
	margin-top: 25px;
	border-color: #AD4A2F;
	border-style: solid;
	padding-top: 61px;
	padding-bottom: 59px;

}

/******************première partie - trois exemples ******************/

.troisex {
	margin-top: 50px;
	background-color: #EED178;
	border-color: #AD4A2F;
	border-style: solid;
	grid-gap: 30px;
	padding: 30px;
}
.troisex p {
	font-family: 'Arial';
	color: #AD4A2F;
	font-size: 14px;
	padding: 10px;
	font-weight: 501;
	
}
/*.troisex .has-gutter {
	grid-gap: 4rem;
}*/
.troisex > div {
	margin: 20px;
	border: solid;
	border-width: 1.5px;
	border-color: #AD4A2F;
	padding: 5px;
}
.troisex img {
	height: 250px;
	padding: 10px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
}



/************** media q**********/
@media all and (max-width: 750px) {
 .notreaventure {
 	display: none;
 }
 .menuburger {
 	display: block;
 	background-image: url(menuburger.jpg);
 	background-color: cover;
 }
}