
#contact{
    background-color:#EED178;
    border: 3px;
    border-color: #AD4A2F;
    text-align: center;
    border-style:solid;
    margin-top:50px;
    margin-bottom:50px;
    padding-top:20px;
 
    font-weight: bold;
    
    
}
.jeanmi{
    padding-left:32px;
}
.gauche{
   
    justify-self:left;
}
.bouton{
    justify-self:right;
    margin-top:10px;
    
 
    
}


#footer{
    background-color:#EED178;
    border: 3px;
    border-color: #AD4A2F;
    text-align: center;
    border-style:solid;
    
    
}

.carrefooter{
    /* background-color:blue; */
  
    
    margin-right:10%;
    margin-left:10%;
    font-weight: bold;
    
    color:#AD4A2F;
    
 
}
.accueil{
padding-top:30px;
}
.contact{
    /* background-color:green; */
    padding-top:30px;
}
.mentions{
    /* background-color:yellow; */
    padding-top:30px;
}
.politique{
    /* background-color:brown; */
    padding-top:30px;
    margin-bottom:30px;
}
@media all and (max-width: 750px) {
    .actu{
        height:96px;
       
    }
   
}