@font-face {
	font-family: 'Areno-Rough';
	src: url('jiminycricket/Areno/Areno-Rough.otf');
}

body {
	background-image: url(jiminycricket/backgroundt.png);
	background-size: cover;
	margin: 0;
	padding:0; 
}
header h3 {
	font-family: 'Areno-Rough';
	color: #AD4A2F;
	text-align: center;
	margin-top: 75px;
}
header {
}
header .grid-3 {
	background-color: #EED178;
	margin-top: 25px;
	border-color: #AD4A2F;
	border-style: solid;
	padding-top: 61px;
	padding-bottom: 59px;

}
.troisex {
	margin-top: 50px;
	background-color: #EED178;
	border-color: #AD4A2F;
	border-style: solid;
}
.troisex p {
	font-family: 'Arial';
	color: #AD4A2F;
	font-size: 17px;
}
.troisex .has-gutter {
	grid-gap: 4rem;
}