#contact{
    background-color:#EED178;
    border: 3px;
    border-color: #AD4A2F;
    text-align: center;
    border-style:solid;
    margin-top:50px;
    margin-bottom:50px;
    
}

#footer{
    background-color:#EED178;
    border: 3px;
    border-color: #AD4A2F;
    text-align: center;
    border-style:solid;
    
    
}
.carrefooter{
    /* background-color:blue; */
    z-index: 1584848484;
    
    margin-right:10%;
    margin-left:10%;
    font-weight: bold;
    
    color:#AD4A2F;
    
 
}
.accueil{
padding-top:30px;
}
.contact{
    /* background-color:green; */
    padding-top:30px;
}
.mentions{
    /* background-color:yellow; */
    padding-top:30px;
}
.politique{
    /* background-color:brown; */
    padding-top:30px;
    margin-bottom:30px;
}